@using RatingDemo.WebApp.Models
@model LoginRequest

<div class="col-2 py-5">
    <div class="dropdown">
        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Tùy chọn</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="#"
               role="button"
               class="dropdown-item btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                Đổi dịch vụ
            </a>
            <a href="#"
               role="button"
               class="dropdown-item btn-danger" data-toggle="modal" data-target="#modalExit">
                Thoát
            </a>
        </div>
    </div>
</div>
<partial name="_ChangeService" />
<partial name="_Exit" />