@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <span class="h2">ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ</span>
                <p>Khảo sát dịch vụ tại ALT IELTS gia sư</p>
                <a asp-controller="User"
                   asp-action="Login"
                   role="button"
                   class="btn btn-danger btn-lg btn-start">
                    Bắt đầu
                </a>
            </div>
        </div>
    </div>
</div>

<div class="pt-4 pt-sm-5 pt-md-5 pt-lg-5 pt-xl-5 people-backgroud">
    <img src="~/images/group-people.svg" class="img-fluid" />
</div>