@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ</h1>
        <p class="lead text-muted">Khảo sát dịch vụ tại ALT IELTS gia sư</p>
        <a asp-controller="User"
           asp-action="Login"
           role="button"
           class="btn btn-danger border btn-lg w-25">
            Bắt đầu
        </a>
    </div>
</section>

<div class="people-backgroud">
    <img src="~/images/group-people.svg" class="img-fluid" />
</div>