<section class="text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ</h1>
        <p class="lead text-muted">Khảo sát dịch vụ tại ALT IELTS gia sư</p>
        <button type="button" class="btn btn-danger btn-lg">Bắt đầu</button>
    </div>
</section>

<div class="people-backgroud">
    <img src="~/images/group-people.svg" class="img-fluid"/>
</div>